@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,600;0,700;1,400&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Prompt:ital,wght@0,400;1,200;1,400;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #faebefff;
}
.swiper {
  width: 1200px;
}
section .card .images {
  height: 140px;
  width: 140px;
  border-radius: 50%;
  padding: 3px;
  background: #333d79ff;
}

section .card .images img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #fff;
}

.card {
  position: relative;
  background: #fff;
  border-radius: 20px;
  margin: 20px 0;
  width: 300px;
}
.card::before {
  content: "";
  position: absolute;
  height: 40%;
  width: 100%;
  background: #333d79ff;
  border-radius: 20px 20px 0 0;
}
.card .card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  position: relative;
  z-index: 100;
}

.card .socialMedia-icons {
  position: absolute;
  top: 10px;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card .socialMedia-icons i {
  color: #fff;
  opacity: 0.4;
  margin-top: 10px;
  transition: all 0.35s ease;
  cursor: pointer;
}

.card .socialMedia-icons i:hover {
  opacity: 1;
}

.card .nameAndProfessions {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  color: #333;
}
.nameAndProfessions .name {
  font-size: 20px;
  font-weight: 700;
}

.nameAndProfessions .professions {
  font-size: 15px;
  font-weight: 400;
}
.card .buttons {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.card .buttons button {
  background: #333d79ff;
  outline: none;
  border: none;
  color: #faebefff;
  padding: 7px 18px;
  border-radius: 20px;
  font-size: 15px;
  transition: all 0.35s ease;
  cursor: pointer;
}
.card button:hover {
  background: #333d79ff;
}
